<div class='appGlobalHeaderMainContainer' style='grid-area:appGlobalHeaderMainContainer'>
    <app-header class='appGlobalHeader' #appGlobalHeader></app-header>
    <canvas class='headerCanvas' id='headerCanvas' #headerCanvas></canvas>
</div>
<div class="appGlobalContent" #GlobalContainer style='grid-area:appGlobalContent'>
    <ng-container #about_me>
        <app-dynamic-component-loader *ngIf='!about_me_metadata'></app-dynamic-component-loader>
    </ng-container>
    <ng-container #skills>
        <app-dynamic-component-loader *ngIf='!skills_metadata'></app-dynamic-component-loader>
    </ng-container>
    <ng-container #jobs>
        <app-dynamic-component-loader *ngIf='!jobs_metadata'></app-dynamic-component-loader>
    </ng-container>
    <ng-container #education>
        <app-dynamic-component-loader *ngIf='!education_metadata'></app-dynamic-component-loader>
    </ng-container>
    <ng-container #references>
        <app-dynamic-component-loader *ngIf='!references_metadata'></app-dynamic-component-loader>
    </ng-container>
    <ng-container #leave_message>
        <app-dynamic-component-loader *ngIf='!leave_message_metadata'></app-dynamic-component-loader>
    </ng-container>!
</div>
<div class="appGlobalMargin" #GlobalLeftMargin style='grid-area:appGlobalMargin' id='appGlobalMargin'>
    <canvas class="navBarCanvas" id='navBarCanvas' #navBarCanvas></canvas>
    <a class='categoriesUrl' *ngFor='let category of categories'
        routerLink="{{'portfolio/' + category.url}}">{{category[this.currentLocale + '_Title']}}<br></a>
</div>
<app-footer class="appGlobalFooter" style='grid-area:appGlobalFooter'></app-footer>