#App_Global_Grid {
    grid-template-rows: 70fr 15fr 15fr;
}

#App_Global_Grid,
.App_Global_Header_Container {
    grid-template-columns: 67fr 33fr;
}

.App_Global_Header_Container_Image {
    grid-area    : App_Global_Header_Container_Image;
    grid-template: auto 160px auto / auto 160px auto;
    display      : grid !important;
}

.App_Global_Header_Container_Image div:nth-child(2) {
    grid-template: auto 150px auto / auto 150px auto;
    display      : grid;
}

.App_Global_Header_Container {
    grid-template-areas:
        "App_Global_Header_Container_Data App_Global_Header_Container_Image"
        "App_Global_Header_Container_Data App_Global_Header_Container_Image";
}

.App_Global_Header_Container_Data {
    grid-area            : App_Global_Header_Container_Data;
    grid-template-columns: 35fr 65fr;
}

.App_Global_Header_Container_Image {
    grid-area: App_Global_Header_Container_Image;
}

@media only screen and (min-width:641px) {
    #App_Global_Grid {
        grid-template-rows: 60fr 35fr 15fr;
    }

    #App_Global_Grid,
    .App_Global_Header_Container {
        grid-template-columns: 70fr 30fr;
    }

    .App_Global_Header_Container_Data {
        grid-area            : App_Global_Header_Container_Data;
        grid-template-columns: 55fr 45fr;
    }
}

@media only screen and (min-width:720px) {
    #App_Global_Grid {
        grid-template-rows: 50fr 40fr 10fr;
    }

    #App_Global_Grid,
    .App_Global_Header_Container {
        grid-template-columns: 70fr 30fr;
    }

    .App_Global_Header_Container_Data {
        grid-area            : App_Global_Header_Container_Data;
        grid-template-columns: 55fr 45fr;
    }

    .App_Global_Header_Container_Image {
        grid-area    : App_Global_Header_Container_Image;
        grid-template: auto 170px auto / auto 170px auto;
        display      : grid !important;
    }

    .App_Global_Header_Container_Image div:nth-child(2) {
        grid-template: auto 160px auto / auto 160px auto;
        display      : grid;
    }
}

@media only screen and (min-width:850px) {
    #App_Global_Grid {
        grid-template-rows: 40fr 50fr 10fr;
    }

    #App_Global_Grid,
    .App_Global_Header_Container {
        grid-template-columns: 75fr 25fr;
    }

    .App_Global_Header_Container_Data {
        grid-area            : App_Global_Header_Container_Data;
        grid-template-columns: 55fr 45fr;
    }

    .App_Global_Header_Container_Image {
        grid-area    : App_Global_Header_Container_Image;
        grid-template: auto 190px auto / auto 190px auto;
        display      : grid !important;
    }

    .App_Global_Header_Container_Image div:nth-child(2) {
        grid-template: auto 180px auto / auto 180px auto;
        display      : grid;
    }
}