* {
  overflow  : hidden;
  box-sizing: border-box;
}

#App_Global_Grid {
  display : grid;
  position: fixed;
  top     : 0;
  left    : 0;
  grid-template-areas:
    "App_Global_Header_Main_Container App_Global_Header_Main_Container"
    "App_Global_Content App_Global_Margin"
    "App_Global_Footer App_Global_Footer";
  box-sizing: border-box;
}

.App_Global_Header_Main_Container {
  display              : grid;
  height               : 100%;
  width                : 100%;
  grid-template-columns: 100fr;
  grid-template-rows   : 100fr;
}

canvas {
  grid-column: 1;
  grid-row   : 1;
  width      : 100%;
  height     : 100%;
  display    : block;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow   : hidden;
  background : linear-gradient(90deg, dodgerblue 45%, deepskyblue);
}