/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  overflow: hidden;
}

* {
  overflow: hidden;
  box-sizing: border-box;
}
#App_Background {
  z-index: -1;
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  display: flex;
}

#App_Global_Grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "App_Global_Header App_Global_Header" "App_Global_Content App_Global_Margin" "App_Global_Footer App_Global_Footer";
  box-sizing: border-box;
}

.App_Global_Header {
  grid-area: App_Global_Header;
  margin: 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background: #0091cf;
  // background:lightskyblue;
  color: white;
}

.App_Global_Margin {
  grid-area: App_Global_Margin;
  background: linear-gradient(90deg, dodgerblue -0%, deepskyblue);
}

.App_Global_Content {
  grid-area: App_Global_Content;
  background: blue;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}
