<ng-container *ngIf='finishedLoading' (onExpandingEvent)="onExpandingEventParent($event)">
    <div class='appContentSkills'>
        <div class='skillContainer' *ngFor='let skill of skills'>
            <div>
                {{skill.substring(0,1)}}
            </div>
            <img [src]='metadata[locale][skill].img_0' [ngClass]='"img" + skill' />
        </div>
        <div class='skillsDetails' [ngClass]='isExpanded ? "expanded" : "contracted"'>
            <button>prev</button>
            <button>next</button>
        </div>
    </div>
</ng-container>