<app-carousel class="carousel" data-slide-index ='0'>
    <div *ngFor='let job of pageLogic.objectKeys(metadata[locale])' class='slideContainer'>
        <div class='intro'>
            <div class='intro-img'>
                {{job.substring(0,1)}}
            </div>
            <img [src]='"./app/assets/" + metadata[locale][job].img_0' [ngClass]='"img" + job'
                (load)='displayImage($event.target)' class='intro-img' />
            <span class='name'>{{metadata[locale][job].company}}</span>
            <i>{{metadata[locale][job].shortDescription}}</i>
        </div>
        <div class='content' *ngFor='let role of pageLogic.objectKeys(metadata[locale][job].roles)'>
            <div style="font-size:20px">
                {{metadata[locale][job].roles[role].role}}
            </div>
            <div>
                {{metadata[locale][job].roles[role].period}}
            </div>
            <div style='margin-left:10px;font-size: 16px;'>
                {{metadata[locale][job].roles[role].responsabilities.title}}
            </div>
            <div *ngFor='let responsability of metadata[locale][job].roles[role].responsabilities.description'>
                {{responsability}}
            </div>
            <div *ngIf='metadata[locale][job].roles[role].responsabilities.notes'>
                {{metadata[locale][job].roles[role].responsabilities.notes}}
            </div>
            <div *ngIf='metadata[locale][job].roles[role].wins' style='margin-left:10px;font-size: 16px;'>
                {{metadata[locale][job].roles[role].wins.title}}
            </div>
            <ng-container *ngIf='metadata[locale][job].roles[role].wins'>
                <div *ngFor='let win of metadata[locale][job].roles[role].wins.description'>
                    {{win}}
                </div>
            </ng-container>
            <div *ngIf='metadata[locale][job].roles[role].technologies' style='margin-left:10px;font-size: 16px;'>
                {{metadata[locale][job].roles[role].technologies.title}}
            </div>
            <div *ngIf='metadata[locale][job].roles[role].technologies'>
                <span *ngFor='let technology of metadata[locale][job].roles[role].technologies.description'>
                    {{technology}}
                </span>
            </div>
        </div>
    </div>
</app-carousel>