<app-carousel (onContentIndexChange)='displayCurrentJob($event)' [carouselContent]='carouselContent'
    [slidesCount]='slidesCount' class="carousel">
    <ng-template #carouselContent>
        <div class='slides' [ngStyle]='{"transform": "translateX(" + translateValue + ")"}' #slidesContainer>
            <div *ngFor='let job of objectKeys(metadata[locale])' style='overflow-y: auto'>
                <div class='jobIntro'>
                    <img alt='{{job.substring(0,1)}}' src='../../../assets/electronic_arts.png' [ngClass]='"img" + job'
                        (load)='displayImage($event.target)' class='intro-img' />
                    <span>{{metadata[locale][job].company}}</span>
                    <i>{{metadata[locale][job].shortDescription}}</i>
                </div>
                <ul class="jobs" *ngFor='let role of objectKeys(metadata[locale][job].roles)'>
                    <li style="font-size:20px">
                        {{metadata[locale][job].roles[role].role}}
                    </li>
                    <li>
                        {{metadata[locale][job].roles[role].period}}
                    </li>
                    <li style="margin:10px 0 10px 0;font-size: 16px;">
                        {{metadata[locale][job].roles[role].responsabilities.title}}
                    </li>
                    <li>
                        {{metadata[locale][job].roles[role].responsabilities.description}}
                    </li>
                    <li style="margin:10px 0 10px 0;font-size: 16px;">
                        {{metadata[locale][job].roles[role].wins.title}}
                    </li>
                    <li>
                        {{metadata[locale][job].roles[role].wins.description}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="buttons">
            <div class='button' *ngFor='let job of  objectKeys(metadata[locale])'
                (click)='displayCurrentJob(metadata[locale][job].job_no)' (onJobIndexChange)='onJobIndexChange($event)'>
                <div>
                    {{job.substring(0,1)}}
                </div>
                <img [src]='metadata[locale][job].img_0' [ngClass]='"img" + job' (load)='displayImage($event.target)' />
            </div>
        </div>
    </ng-template>
</app-carousel>