$circle_border: calc(12vw + 30px);
$circle_img: calc(12vw + 20px);

body {
  font-size: 14px;
}

#appGlobalGrid,
.appGlobalHeaderContainer {
  grid-template-columns: 80fr 20fr;
}

.appGlobalHeaderContainerData {
  grid-template-columns: 1px 100fr;
  grid-column: 1;
}

.appGlobalHeaderContainerImage {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template: auto $circle_border auto / auto $circle_border auto;
}

.appGlobalHeaderContainerImage div:nth-child(2) {
  display: grid;
  grid-template: auto $circle_img auto / auto $circle_img auto;
}

.appGlobalContentMain {
  font-size: 14px;
}

.appContentSkills {
  grid-template-rows: 5vmax auto;
  display: grid;
  grid-template-columns: repeat(11, 5vmax);
  justify-content: center;
  position: relative;
  height: 100%;
}

.extended .appGlobalHeaderMainContainer {
  height: calc(28vh + 125px);
}

.slide {
  grid-template-rows: 225px auto;
  grid-template-columns: 100%;
  display: grid;
}

.jobIntro {
  display: grid;
  grid-template-rows: 46px 179px;
  grid-template-columns: 100px auto;
}

.rectLoading {
  width: 40% !important;
  height: 100% !important;
  position: absolute !important;
  right: 0 !important;
}

.appGlobalHeaderContainerDataText,
.appGlobalHeaderContainerData {
  position: relative;
}

.education .container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  width: 100%;
  max-width: 850px;
  height:100%
}

.education p {
  margin: auto;
}
