$circle_border: calc(15vw + 35px);
$circle_img   : calc(15vw + 20px);

.appGlobalHeaderContainer {
    grid-template-columns: 70fr 30fr;
}

.appGlobalHeaderContainerData {
    grid-template-columns: 1px 100fr;
    grid-column          : 1;
}

.appGlobalHeaderContainerImage {
    grid-column  : 2;
    grid-row     : 1;
    display      : grid;
    grid-template: auto $circle_border auto / auto $circle_border auto;
}

.appGlobalHeaderContainerImage div:nth-child(2) {
    display      : grid;
    grid-template: auto $circle_img auto / auto $circle_img auto;
}

.appGlobalContentMain {
    font-size: 14px
}

.appContentSkills {
    width                : 60vw;
    max-width            : 410px;
    display              : grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows   : repeat(3, auto);
    grid-gap             : 10px;
}

.skillContainer:nth-child(5) {
    width      : auto !important;
    grid-column: 1/span 2;
}

.extended .appGlobalHeaderMainContainer {
    height: 200px;
}

@media only screen and(max-width:330px) {
    .extended .appGlobalHeaderMainContainer {
        height: 150px;
    }
}