$circle_border: calc(15vw + 35px);
$circle_img   : calc(15vw + 20px);

body {
    font-size: 14px
}

#appGlobalGrid {
    grid-template-columns: 75fr 25fr;
}

.appGlobalHeaderContainer {
    grid-template-columns: 70fr 30fr;
}

.appGlobalHeaderContainerData {
    grid-template-columns: 1px 100fr;
    grid-column          : 1;
}

.appGlobalHeaderContainerImage {
    grid-column  : 2;
    grid-row     : 1;
    display      : grid;
    grid-template: auto $circle_border auto / auto $circle_border auto;
}

.appGlobalHeaderContainerImage div:nth-child(2) {
    display      : grid;
    grid-template: auto $circle_img auto / auto $circle_img auto;
}

.appGlobalContentMain {
    font-size: 14px
}

.appContentSkills {
    display              : grid;
    grid-template-columns: repeat(11, 5vmax);
    grid-template-rows   : 5vmax;
    grid-gap             : 10px;
    justify-content      : center;
}

.extended .appGlobalHeaderMainContainer {
    height: 200px;
}

@media only screen and(max-width:330px) {
    .extended .appGlobalHeaderMainContainer {
        height: 150px;
    }
}

.skillContainer:nth-child(1) {
    grid-column: 4
}

.skillContainer:nth-child(2) {
    grid-column: 5
}

.skillContainer:nth-child(3) {
    grid-column: 6
}

.skillContainer:nth-child(4) {
    grid-column: 7
}

.skillContainer:nth-child(5) {
    grid-column: 8;
}

.skillsDetails {
    grid-column: 1 / span 11;
}

.skillsDetails.expanded {
    height: 40vmax
}