$circle_border: calc(43vw + 35px);
$circle_img   : calc(43vw + 20px);

body {
  font-size: 14px
}

#appGlobalGrid {
  grid-template-columns: 70fr 30fr;
}

.appGlobalHeaderContainer {
  grid-template-columns: 10fr 80fr 10fr;
  grid-template-rows   : 50% 50%;
}

.appGlobalHeaderContainerData {
  grid-template-columns: 1px 100fr;
  grid-column          : 2;
  grid-row             : 2;
}

.appGlobalHeaderContainerImage {
  grid-column  : 2;
  grid-row     : 1;
  display      : grid;
  grid-template: auto $circle_border auto / auto $circle_border auto;
}

.appGlobalHeaderContainerImage div:nth-child(2) {
  display      : grid;
  grid-template: auto $circle_img auto / auto $circle_img auto;
}

.appGlobalContentMain {
  font-size: 14px;
}

.appContentSkills {
  display              : grid;
  grid-template-columns: repeat(5, auto);
}

.extended .appGlobalHeaderMainContainer {
  height: 110vw;
}

.skillsDetails {
  grid-column: 1 / span 5;
}

.modalBtn {
  grid-column:3
}

// .skillsDetails.expanded {
//   height: 40vmax
// }