* {
  overflow: hidden;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  background-image: url("../assets/aurora.jpg");
  background-size: cover;
  color: white;
}

.appGlobalHeaderMainContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 100fr;
  grid-template-rows: 100fr;
  transition: 0.4s;
}

#appGlobalGrid {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  grid-template-areas:
    "appGlobalHeaderMainContainer appGlobalHeaderMainContainer"
    "appGlobalContent appGlobalMargin"
    "appGlobalFooter appGlobalFooter";
  box-sizing: border-box;
  grid-template-rows: minmax(auto, 50px) auto 50px;
}

.appGlobalContent {
  display: block;
  mask-image: linear-gradient(transparent, black, black, black, black, black, black, black, black, black, transparent);
  overflow-y: scroll;
  padding: 0 10px 40px 10px;
}

.appGlobalContentMain {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

.contracted .contractedHeaderHiddenData {
  display: none;
}

.contracted .appGlobalHeaderContainerData {
  grid-template-rows: 100fr !important;
}

.contracted .appGlobalHeaderMainContainer {
  height: 75px;
}

.contracted .appGlobalHeaderMainContainer {
  grid-template-rows: 100fr;
}

.contracted .appGlobalHeaderContainer {
  grid-template-columns: auto 75px;
  grid-template-rows: 100%;
}

.contracted .appGlobalHeaderContainerImage {
    grid-column: 2;
    grid-template: auto 60px auto/auto 60px auto;
}

.contracted .appGlobalHeaderContainerImage div:nth-child(2) {
  display: grid;
  grid-template: auto 50px auto / auto 50px auto;
}

.contracted .appGlobalHeaderContainerData {
  grid-area: 1/1;
}

.extended .appGlobalHeaderContainerDataText.name {
  font-size: 2rem;
}

.contracted .appGlobalHeaderContainerDataText.name {
  font-size: 1.3rem;
}

.appHeaderRowContent {
  display: block;
}

.activeModalGrid {
  grid-row: 2;
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.modalComponent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  position: relative  ;
  width: 100%;
  height: 100%;
}

.inactiveModalGrid {
  display: none;
}

.carousel {
  grid-row: 1/span 2;
  background: #0b1e2f;
  transition: 0.5s;
  grid-template-columns: 5% auto 5%;
  display: grid;
  grid-column: 1;
  grid-template-rows: auto 40px;
  border: 5px double #1a4b6e;
  width: 98.5%;
  height: 100%;
  position: absolute;
}

.carousel .slides {
  display: grid;
  grid-template-rows: 100%;
  transition: 0.5s;
  position: absolute;
  height: 100%;
  grid-column: 2/2;
  grid-template-columns: repeat(10,100%);
  overflow: initial;
}

.carousel .buttons {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  grid-row: 2;
  z-index: 5;
}

.carousel .button {
  border-radius: 5px;
  background: lightgrey;
  border: 1px solid grey;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 30px;
  margin: 5px;
  width: 30px;
  z-index: 1;
  position: relative;
  grid-row: 1;
  height: 30px;
}

.carousel .intro-img {
  top: 10px;
  display: block;
  opacity: 0;
  position: relative;
  width: 100px;
  border-radius: 10px;
  border: 3px solid #1a4b6e;
  height: 100px;
  grid-row: 1;
  grid-column: 1;
}

.carousel div.intro-img {
  opacity: 1;
  background: lightblue;
  line-height: 100px;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #2C7CB7;
  font-weight: bold;
}

.carousel img.fadeIn {
  transition: 0.5s;
  opacity: 1 !important;
}

.carousel .name {
  grid-column: 2 / span 3;
  grid-row: 1;
  margin-top: 10px;
  font-size: 28px;
  margin-bottom:5px
}

i {
  grid-row: 2;
  margin-top: 10px;
  color: lightgrey;
  font-size: 16px;
  height: auto;
  grid-column: 1 / span2;
}

.carousel .intro {
  display: grid;
  grid-template-rows: 120px 75%;
  grid-template-columns: 120px;
  max-height: 300px;
}

.carousel .content {
  padding: 0;
}

.carousel div {
  margin-bottom:10px
}

.closeBtn {
  background-image: url(../assets/close.png)!important;
  border-radius: 50%;
}

.slides {
  grid-template-rows: 100%;
}

.skillsJobsModal {
  opacity:0;
  transition:.5s;
  pointer-events:none;
  position: fixed;
}

.skillsJobsToggle {
  height: 30px;
  width: 125px;
  position: relative;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  bottom: 0;
}

.skillsJobsModal.active {
  pointer-events: initial;
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 25% auto 50px;
  opacity:1
}

.modalTabsActiveRoute {
  grid-column: 1;
    background: #0B1E2F;
    border: 5px double #1A4B6E;
    border-bottom: none;
    height: 33px;
}

.skillsModalTabs {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-columns: repeat(3, 125px) auto;
  position: relative;
}

@keyframes spiiiin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}