<div>
    <mat-progress-bar *ngIf="loadingHeader" [@slideInOut]="loadingHeader ? true : false" mode="indeterminate"
        value="50"></mat-progress-bar>
    <a routerLink="portfolio/about-me">Link 1</a>
    <a routerLink="portfolio/work-experience">Link 2</a>
    <!-- <img [src]=" DataSnapshot.image" class="Profile_Picture" /> -->
    <!-- <div>
        <div *ngFor="let DataKey of ObjectKeys(DataSnapshot[Locale])">
            {{DataSnapshot[Locale][DataKey].title}} : {{DataSnapshot[Locale][DataKey].details}}
        </div>
    </div> -->
</div>

[@state]="state" (@state.done)="animationDone($event)"