.common {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  margin: 0;
}

.App_Global_Header_Container {
  z-index: 1;
  font-weight: normal;
  border-bottom: 2px solid dodgerblue;
}

.App_Global_Header_Container_Image {
  display: block;
  position: relative;
}

.App_Global_Header_Container_Image div {
  width: 76%;
  top: 14%;
  display: block;
  position: relative;
  left: 12%;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  z-index: 1;
  background: #0091cf;
  height: 65%;
  visibility: hidden;
}

.App_Global_Header_Container_Main {
  display: grid;
  text-align: right;
  font-family: "open sans";
  align-items: center;
  font-size: 3vw;
}

.App_Global_Header_Container_Main_Text {
  font-size: 1.5vw;
  grid-column: 2;
  opacity: 1 !important;
  display: block;
  width: 100%;
  height: 50%;
}

.canvas {
  background: gold;
  z-index: -1;
  pointer-events: none;
}
