<h1 class="appGlobalHeaderContainer" id="appGlobalHeader">
    <div class="appGlobalHeaderContainerImage">
        <div></div>
        <div><span></span></div>
    </div>
    <div class="appGlobalPhoneDetails" style='display:none'> 
        <i class="fa fa-phone"></i>
        <div></div>
    </div>
    <div class="appGlobalHeaderContainerData">
        <div style="font-size:3vw" class="appGlobalHeaderContainerDataText"
            [ngClass]="{'rectLoading' : loadingHeader}" [@fadeIn]="loadingHeader ? true : false">
            {{loadingHeader ? '' : pageTemplate.Header.data[locale].intro_first_name_RO.details + ' ' + pageTemplate.Header.data[locale].intro_last_name_RO.details}}
        </div>
        <div class="contractedHeaderHiddenData appGlobalHeaderContainerMainText" 
            [ngClass]="{'rectLoading' : loadingHeader}" [@fadeIn]="loadingHeader ? true : false">
            {{loadingHeader ? '' :  pageTemplate.Header.data[locale].intro_current_role_RO.details}}
        </div>
        <div class="contractedHeaderHiddenData appGlobalHeaderContainerDataText"
            [ngClass]="{'rectLoading' : loadingHeader}" [@fadeIn]="loadingHeader ? true : false">
            {{loadingHeader ? '' : pageTemplate.Header.data[locale].intro_phone_no_RO.details }}
        </div>
        <div class="contractedHeaderHiddenData appGlobalHeaderContainerDataText"
            [ngClass]="{'rectLoading' : loadingHeader}" [@fadeIn]="loadingHeader ? true : false">
            {{loadingHeader ? '' :  pageTemplate.Header.data[locale].intro_email_RO.details}}
        </div>
        <div class="contractedHeaderHiddenData appGlobalHeaderContainerDataText"
            [ngClass]="{'rectLoading' : loadingHeader}" [@fadeIn]="loadingHeader ? true : false">
            {{loadingHeader ? '' : pageTemplate.Header.data[locale].intro_birth_date_RO.title + ': ' + pageTemplate.Header.data[locale].intro_birth_date_RO.details}}
        </div>
        <div class="contractedHeaderHiddenData appGlobalHeaderContainerDataText"
            [ngClass]="{'rectLoading' : loadingHeader}" [@fadeIn]="loadingHeader ? true : false">
            {{loadingHeader ? '' : pageTemplate.Header.data[locale].intro_age_RO.title + ': ' + pageTemplate.Header.data[locale].intro_age_RO.details}}
        </div>
    </div>
</h1>