button {
    border    : none;
    color     : grey;
    transition: .5s;
    font-size : 40px;
    display   : block;
    width     : 100%;
    height    : 100%;
    background: none;
    position  : relative;
    cursor    : pointer
}

button:before {
    content   : "";
    position  : absolute;
    top       : 45%;
    left      : 0;
    width     : 100%;
    height    : 10%;
    transition: .3s
}

.nextContent {
    grid-column: 3;
}

.prevContent:before {
    content: '\2039'
}

.nextContent:before {
    content: '\203A'
}

button:hover:before {
    transform: scale(2);
}

.detailedContentContainer {
    grid-column          : 2;
    grid-template-columns: repeat(5, 100%);
    display              : grid;
    color                : black;
    overflow             : initial;
}