<!-- <!-- <div class='skillsJobsModal'
    [ngClass]='{"active" : (currentUrl === "skills" && skillsState) || (currentUrl === "jobs" && jobsState)}'>
    <div class='skillsModalTabs'>
        <a routerLink='portfolio/skills' class='skillsJobsToggle' style='grid-column:1'
            [ngClass]='{"modalTabsActiveRoute" : currentUrl === "skills"}'>Skills</a>
        <a routerLink='portfolio/jobs' class='skillsJobsToggle' style='grid-column:2'
            [ngClass]='{"modalTabsActiveRoute" : currentUrl === "jobs"}'>Jobs</a>
        <a [routerLink]='"portfolio/" + previousUrl' class='skillsJobsToggle' class='closeBtn modalBtn'></a>
        <div
            [ngClass]='{"activeModalGrid": currentUrl === "skills","inactiveModalGrid": currentUrl !== "skills" && skillsState }'>
            <ng-container #skills></ng-container>
        </div>
        <div
            [ngClass]='{"activeModalGrid": currentUrl === "jobs","inactiveModalGrid": currentUrl !== "jobs" && jobsState }'>
            <ng-container #jobs></ng-container>
        </div>
    </div>
</div> -->
<div class='appGlobalHeaderMainContainer' style='grid-area:appGlobalHeaderMainContainer'>
    <app-header class='appGlobalHeader' [metadata]='headerMetadata[locale]'></app-header>
</div>
<div class="appGlobalContent">
    <ng-container #about_me></ng-container>
    <a routerLink='portfolio/skills' class='skillsJobsToggle'>{{menuMetadata[locale] ? menuMetadata[locale][1] : ''}}</a>
    <a routerLink='portfolio/jobs' class='skillsJobsToggle'>{{menuMetadata[locale] ? menuMetadata[locale][2] : ''}}</a>
    <ng-container #education></ng-container>
    <ng-container #references></ng-container>
    <ng-container #leave_message></ng-container>
</div>
<div class="appGlobalMargin" id='appGlobalMargin'>
    <a [ngClass]='{"current" : currentUrl === "about-me"}' routerLink="{{'portfolio/about-me'}}" class='categoriesUrl'>
        {{menuMetadata[locale] ? menuMetadata[locale][0] : ''}}
    </a>
    <a [ngClass]='{"current" : currentUrl === "education"}' routerLink="{{'portfolio/education'}}" class='categoriesUrl'>
        {{menuMetadata[locale] ? menuMetadata[locale][3] : ''}}
    </a>
    <a [ngClass]='{"current" : currentUrl === "references"}' routerLink="{{'portfolio/references'}}"
        class='categoriesUrl'>
        {{menuMetadata[locale] ? menuMetadata[locale][4] : ''}}
    </a>
    <a [ngClass]='{"current" : currentUrl === "leave-message"}' routerLink="{{'portfolio/leave-message'}}"
        class='categoriesUrl'>
        {{menuMetadata[locale] ? menuMetadata[locale][5] : ''}}
    </a>
</div>
<app-footer class="appGlobalFooter" style='grid-area:appGlobalFooter' [metadata]='footerMetadata[locale]'
    [locale]='locale'></app-footer>