<div class='appGlobalHeaderMainContainer' style='grid-area:appGlobalHeaderMainContainer'>
    <app-header class='appGlobalHeader' #appGlobalHeader></app-header>
</div>
<div class="appGlobalContent" #GlobalContainer>
    <ng-container #about_me></ng-container>
    <ng-container #skills></ng-container>
    <ng-container #jobs></ng-container>
    <ng-container #education></ng-container>
    <ng-container #references></ng-container>
    <ng-container #leave_message></ng-container>
</div>
<div class="appGlobalMargin" #GlobalLeftMargin id='appGlobalMargin'>
    <a [ngClass]='{"current" : category.url === currentUrlSubscription}' class='categoriesUrl'
        *ngFor='let category of categories'
        routerLink="{{'portfolio/' + category.url}}">{{category[currentLocale + '_Title']}}<br></a>
</div>
<app-footer class="appGlobalFooter" style='grid-area:appGlobalFooter'></app-footer>