/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  overflow: hidden;
}

#App_Background {
  z-index: -1;
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  display: flex;
}

#App_Global_Grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "App_Global_Header App_Global_Header" "App_Global_Content App_Global_Margin";
  box-sizing: border-box;
}

.Square,
.Portrait {
  grid-template-columns: 70fr 30fr;
}

.Portrait {
  grid-template-rows: 90fr 10fr;
}

.Square {
  grid-template-rows: 30fr 70fr;
}

.Landscape {
  grid-template-columns: 80fr 20fr;
  grid-template-rows: 80fr 20fr;
}

@media only screen and (min-width: 1200px) and (min-height: 768px) {
  .Landscape {
    grid-template-columns: 82fr 17fr;
    grid-template-rows: 40fr 60fr;
  }
}

@media only screen and (min-width: 750px) and (min-height: 1000px) {
  .Portrait {
    grid-template-columns: 75fr 25fr;
    grid-template-rows: 40fr 60fr;
  }

  .Landscape {
    grid-template-columns: 82fr 17fr;
    grid-template-rows: 40fr 60fr;
  }
}

@media only screen and (min-width: 1000px) and (max-height: 800px) {
  .Landscape {
    grid-template-columns: 82fr 17fr;
    grid-template-rows: 40fr 60fr;
  }
}

.App_Global_Header {
  grid-area: App_Global_Header;
  background: yellowgreen;
  margin: 0;
}

.App_Global_Margin {
  grid-area: App_Global_Margin;
  background: red;
}

.App_Global_Content {
  grid-area: App_Global_Content;
  background: blue;
}
